In [3]:
import pandas as pd
import json

In [10]:
members=[]

with open('conversation.json') as json_file:
    data = json.load(json_file)
    members = data['members']
print(members[0])

{'user_id': '27676046', 'nickname': 'üéÖüèø', 'image_url': 'https://i.groupme.com/434x434.jpeg.a4ef57346b714c3d922dcdd99e8304cf', 'id': '432140249', 'muted': False, 'autokicked': False, 'roles': ['user'], 'name': 'Dylan Fox'}

In [15]:
user_ids = map(lambda user_object: user_object["user_id"], members)
user_names = map(lambda user_object: user_object["name"], members)

joined = list(zip(user_ids, user_names))

print(joined[0])
df = pd.DataFrame(joined, columns = ['id', 'name'])

('27676046', 'Dylan Fox')

In [17]:
num_sent = {}
likes_recieved = {}

for i in user_ids:
    num_sent[i] = 0
    likes_recieved[i] = 0

with open('message.json') as json_file:
    data = json.load(json_file)
    
    
    for mes in data:
        num_sent[mes['sender_id']] = num_sent[mes['sender_id']] + 1
        likes_recieved[mes['sender_id']] = likesRecived[mes['sender_id']] + len(mes['favorited_by'])

         id                name
0  27676046           Dylan Fox
1  30017328        Sam Schoberg
2  24280778     Antonio Karides
3  36556659       Nolan McNeill
4  39092107     Jack Singelstad
5  16803148          Ben Jolley
6  38590749       Oliver Cowley
7  28581838         Nick Abbott
8  41172134  Naveen Paranthaman
9  29049186      Justin Frankle